.container-post {
  width: 65%;
  margin: 0 auto 30px auto;
  max-width: 1200px;
  @include mobile {
    width: 100%;
  }
  .post {
    padding-top: 2em;
    width: 100%;
    .post-image {
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
    .post-info {
      text-align: center;
      p {
        width: 80%;
        text-align: center;
        margin: 10px auto;
        margin-bottom: 1.5em;
      }
    }
  }
}


.post-info a {
  text-decoration: none;

  & .arrow {
    opacity: 0;
    display: inline-block;
    transform: translate(-10px, 2px);
    transition: all 0.3s cubic-bezier(0.2, 0.99, 0.71, 1.18);
    margin-bottom: -10px;

    svg {
      fill: white;
    }
  }

  &.read-more {
    border: 1px solid black;
    background-color: black;
    padding: 5px;
  }

  &:hover > .arrow {
    transform: translate(2px, 2px);
    opacity: 1;
  }
}

.post-info a {
  &.read-more {
    color: white;
  }
}
//CSS for single.php

.post-thumbnail {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.container-blog {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
    .entry-content {
      text-align: justify;
    }
  }

#related-posts .container-blog {
  .related-posts {
    justify-content: flex-start;

    .related-post {
      flex: 1 210px;
      margin: 10px;

      .related-post-thumb > a {
        img {
          height: 400px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

//Content page
.container-blog-content {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;

  .entry-content {
    flex: 1;
    margin: 0 0 0 30px;
  }

  .social-media {
    text-align: right;
    width: 50px;
    margin: 20px auto;
  }
}
//Footer page-links

.footer-right {
  text-align: right;
}

// ajfja
