#section-contact-forms .container {
  height: auto;
  background-color: $red;
  color: white;

  h1 {
    color: white;
  }

  h2 {
    color: $yellow;
  }

  .forms {
    height: auto;
    width: 100%;
  }
}
// part map

#contact-map .container {
  .contact-info,
  .contact-map {
    min-width: 300px;
  }
}
