.head-appointment {
  padding: 0;
  margin: 20px 0 0 0;
  text-align: center;
}
#section-contact-forms .container {
  color: white;
  margin: 0;
  padding: 0 auto;

  h1 {
    color: black;
  }
  h3 {
    color: $red;
  }
  .contact-info {
    i {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .forms input {
      margin: 4px;
      min-width: 100%;
  }
}

// part map
#contact-map .container {
  padding: 0;
  margin: 0;
}
