.top-heading {
  background-color: $red;

  a {
    text-decoration: none;
  }

  div {
    justify-content: center;
    align-items: center;
    height: 140px;
  }

  h3 {
    color: $yellow;
  }
}

.heading-right {
  width: 150px;
  display: flex;
  justify-content: flex-end;
}