// section-slider

.main-screen {
  z-index: 98;
  padding: 0;
  height: 65vh;
  width: 100vw;
  position: relative;
  background: black;
}

.slideshow {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 99;
  list-style: none;
}

.slider-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  display: block;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  opacity: 0;
}

.active {
  opacity: 1;
}

.slider-image:nth-of-type(1) {
  background: url("./images/slider/toronto-astrology-1.jpg") no-repeat top center;
  background-size: cover;
}

.slider-image:nth-of-type(2) {
  background: url("./images/slider/toronto-astrology-2.jpg") no-repeat top center;
  background-size: cover;
}

.slider-image:nth-of-type(3) {
  background: url("./images/slider/toronto-astrology-3.jpg") no-repeat top center;
  background-size: cover;
}

.slider-image:nth-of-type(4) {
  background: url("./images/slider/toronto-astrology-4.jpg") no-repeat top center;
  background-size: cover;
}
// section-contact

#section-contact {
  background: $red;

  .all-list {
    color: white;
    font-family: $font-secondary;
    // margin-left: 15px;
    .list-left ul {
      list-style: square;
      font-size: 3rem;
      margin: 0 0 0 300px;
      @include mobile {
        margin: 0 0 0 80px;
      }
    }

    .list-right ul {
      list-style-type: none;
      font-size: 3rem;
      margin: 0;
      @include mobile {
        margin: 0 0 0 50px;
      }
    }
  }
}
// section-intro

#section-intro {
  .container {
    display: flex;
    background-color: $red;
    @include mobile {
      flex-direction: column;
    }

    .image {
      @include mobile {
        max-height: 50%;
      }
    }

    h1 {
      color: $yellow;
    }

    p {
      color: white;
    }
  }
}
// section-services

#section-services {
  margin: 0;
  padding: 0;

  .container {
    .seperator {
      background-color: $yellow;
      height: 20px;
    }

    h1 {
      font-family: $font-primary;
      text-align: center;
      color: $red;
      margin: 0;
      padding: 0;
    }

    h3 {
      font-family: $font-primary;
      background-color: $red;
      text-align: center;
      margin: 0;
      padding: 0;
      color: $yellow;
    }

    .service {
      max-width: 400px;
      min-width: 400px;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
// section-appointment

#section-appointment {
  .container {
    background-color: $yellow;

    .pic-app {
      max-width: 150%;
      margin-left: -200px;
    }

    h1 {
      font-family: $font-primary;
      text-align: center;
      justify-content: center;
      color: $red;
    }
  }
}
// section-testimonial

#section-testomonials {
  .container {
    background-color: lightyellow;

    .testimonials {
      display: flex;
      flex-direction: row;
      @include mobile {
        flex-direction: column;
      }
    }

    h2 {
      font-family: $font-primary;
      text-align: center;
      color: $red;
    }

    p {
      font-family: $font-secondary;
      padding: 0 50px;
    }

    .author {
      text-align: right;
    }
  }
}
// section-yellow

#yel {
  background-color: $yellow;
  width: 100%;
  height: 20px;
}
// section-darkred

#darkred {
  background-color: $red;
  width: 100%;
  height: 20px;
}