// section-slider

#section-slider {
  background: red;

  .container {
    justify-content: center;
    // max-width: 900px;
  }

  .owl-carousel {
    width: 900px;
    margin: 0 auto;
    text-align: center;

    img {
      @include mobile {
        max-width: 150px;
        margin: 0 auto;
      }
    }
  }
}
// section-contact

#section-contact {}
// section-intro

#section-intro {}
// section-services

#section-services {}
// section-appointment

#section-appointment {}
// section-testimonial

#section-testimonial {}
// section-footer

#section-footer {}
// section-contact

#section-contact {}