#services-all {
  .container {
    display: flex;

    .image {
      padding: 5px 5px;
    }

    .subservice{
      padding-left: 10px;
      h1 {
        margin: 0px;
        padding-top: 0px;
        font-family: "Times New Roman";
        font-style: normal;
        font-size: 30px;
      }

      p {
        font-family: "Times New Roman";
        font-style: normal;
        font-size: 18px;
      }
    }

  }

  .address {
    padding-left: 190px;

    h2 {
      font-family: "Times New Roman";
      font-style: normal;
    }

    p {
      font-family: "Times New Roman";
      font-style: normal;
      font-size: 20px;
    }
  }

}
