#colophon {
  background-color: black;

  h3 {
    color: white;
  }

  .footer-right {
    display: flex;
    justify-content: flex-end;

    #picf {
      width: 100px;
      padding: 0 5px;
    }
  }
}