#colophon {
  background-color: black;

  h5 {
    color: white;
  }

  .footer-right {
    display: flex;
    justify-content: flex-end;

    #picf {
      width: 50px;
      padding: 15px 5px;
    }
  }
}